*{
    margin: 0;
}

.home{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 95vh;
    background-color: var(--fundoHome);
}
.picme{
    display: flex;
    width:40%;
    background-color: var(--fundoVioleta);
    justify-content: center;
    padding: 20px;
    align-items: center;
}

.picme img{
    width: 300px;
}

.texthome{
    display: flex;
    justify-content: center;
    color: var(--corFonte);
    font-size: 40px;
    flex-direction: column;
    align-items: center;
    min-width: 50%;
    padding: 50px;
}

.texthome h3{
    display: flex;
    align-items: left;
    justify-content: center;
}

.texthome input{
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, blueviolet, rgb(238, 139, 156), rgb(47, 5, 87));
    padding: 10px;
    border-radius: 15px;
    width: 50%;
    margin: 15px;
    font-size: 3vh;
    cursor: pointer;
    font-weight: 600;
    border: none;
}

.texthome input:hover{
    opacity: 50%;
    transition: all 200ms ease-in;
    transform: scale(1.1);
}

.nome{
    color: var(--fundoVioleta);
}

.sobremim{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 40px;
    gap: 20px;
    align-items: center;
    min-height: 95vh;
    background-color: var(--fundoEscuro);
    color: var(--corFonte);
}

.pessoal{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 15px;
    max-height: 50%;
}

.textsobre{
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 20px;
    gap: 20px;
    align-items: center;
    font-size: 2vh;
}

.textsobre p {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    line-height: 5vh;
}
.pessoal img{
    border-radius: 50%;
    border: solid 1px var(--fundoVioleta);
    max-width: 30%;
}   

.academico{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin: 15px;

}

.cardacademico{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 25%;
    padding: 20px;
    gap: 10px;
    border: solid 1px var(--corFonte);
    border-radius: 15px;
}

.cardacademico li {
    font-size: 1vw;
    display: flex;
    justify-content: center;
    line-height: 5vh;
}

.experiencia{
    background-color: var(--fundoExperiencia);
    color: var(--corFonte);
    display: flex;
    flex-direction: column;
    padding: 40px;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
}

.empresas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    padding: 30px;
}

.empresa, .empresa2, .empresa3{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: var(--fundoVioleta);
    border-radius: 30px;
    padding: 15px;
    margin: 10px;
    font-size: larger;
}

.empresa, .empresa2, .empresa3, p{
    margin: 10px;
}

.projetos{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
    gap: 30px;
    align-items: center;
    justify-content: center;
    background-color: var(--fundoEscuro);
    color: var(--corFonte);
}

.galeria{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
    gap: 10px;
    justify-content: center;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: left;
    border: solid 1px var(--fundoVioleta);
    padding: 15px;
    border-radius: 10px;
    max-width: 25%;
    gap: 10px;
    margin: 10px;
    cursor: pointer;
}

.card:hover{
    opacity: 50%;
    transition: all 200ms ease-in;
    transform: scale(1.1);
}

.card a{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contatos{
    color: var(--corFonte);
    background-color: var(--fundoExperiencia);
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contato{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    min-height: 40vh;
}

.contato span{
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: flex-end;
    justify-content: center;
    font-size: 1vh;
}

.contato span a h3:hover{
    cursor: pointer;
    border-bottom: var(--fundoVioleta) solid 2px;
    transition: all 200ms ease-in;
}
